/**********SCROLLBAR**********/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
 /* background: #606060;*/
 /*background: #8a8a8a;*/ 
 background: #b3b3b3;
  border-radius: 10px;
  padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
  /*background: #cccccc;*/
  background: #8a8a8a; 
}

::-ms-scrollbar {
  width: 10px;
}

::-ms-scrollbar-track {
  background: #f1f1f1; 
}

::-ms-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-ms-scrollbar-thumb:hover {
  background: #cccccc; 
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #f1f1f1; 
}

::-moz-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-moz-scrollbar-thumb:hover {
  background: #cccccc; 
}
html {
    scroll-behavior: smooth;
}

body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin:0px 0px 0px 0px;
	/*scroll-padding-top: 56px;*/
}

.head
{
	display: flex;
	height: 150px;
	width: 100%;
	justify-content: space-between;
	column-gap: 8%;
	top: 0px;
	margin: 0px 0px 0px 0px;
	/*background: linear-gradient(55deg, transparent 0%, #000 70%, #000 85%);*/
	/*background-color: rgba(10,10,10,0.99);*/
	/*background-image: linear-gradient(#fff, #ccc);*/
	position: absolute;
	box-shadow: none;
	z-index: 99999;
}

.left-head
{
	height: 100px;
	width: 15%;
}

.head-logo
{
	height: 100%;
	width: 100%;
	margin-top: 30px;
	margin-left: 50px;
}

.right-head
{
	display: flex;
	width: 85%;
	justify-content: center;
	align-items: center;
	column-gap: 6%;
}

.blog, .podcast,
.poetry,
.workshop,
.public-speaking,
.books,
.my-story,
.contacts{
	border:none;
	background-color: transparent;
	font-size: 22px;
	/*width: fit-content;*/
	/*overflow: hidden;*/
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
}

.animated-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*MID BAR*/

.mid-video
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	/*width: 100%;*/
}

.main-page
{
	margin-top: 30px;
}
.social-heading
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-heading h2
{
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}

.social-heading h2 hr
{
	/*s*/
	border-top-width: 7px;
	border-top-color:#08d0ff;
	/*border-top-color:#3bafda;*/
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%; 
	margin: 0;
}

.social-whole
{
	display: flex;
	justify-content: center;
	align-items: center;
	/*margin: 10px 10px 10px 50px;*/
	margin-bottom: 60px; 
}

.social-content
{
	/*display: flex;*/
	 margin: 10px 40px 10px 50px;
	/*justify-content: center;*/
}

.image-icon
{
	height: 6em;
	width: 6em;
}

/*MAIN PAGE*/

.about
{
	width: 100%;
	/*background-color: #0c71c3;*/
	/*background-image: linear-gradient(#0c71c3,#5F97F1);*//*#478DFC
	/*background: linear-gradient(to bottom right,#F22F2F,#FF5D5D);*/
	margin: 100px 0px 100px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding: 50px;*/
}
.about-img
{
	height: 700px;
	width: 80em;
}
.ab-vid
{
	/*margin-left: 50px;*/
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.my-img
{
	/*height: 500px;*/
	height: auto;
	object-fit: cover;
	width: 700px;
}

.about-content
{
	/*margin: 7em 10px 50px 10em;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px; 
	padding-top: 60px;
	background-image: linear-gradient(#0c71c3,#5F97F1);
}

.about-heading h2
{
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.about-heading h2 hr
{
	/*border-top-width: 3px;
	border-color: #fff;*/
	width: auto;
	border-top: 3px solid white;
	top: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
}

.about-para
{
	/*margin: 0 200px 0 200px;*/
	padding: 0px 50px 0px 50px;
	font-size: 20px;
	color: #fff;
}

.about-more
{
	margin-top: 20px;
	margin-bottom: 20px;
	/*width: 50%;*/
	/*padding: 0.3em 1em;*/
}

.about-more button
{
	background-color: #fff;
	border-color: #fff;
	color: #0c71c3;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	padding: 0.3em 1em;
}

.about-more button:hover
{
	background-color: #DEDDDD;
	border-color: #DEDDDD;
	color: #000;
	/*transform: scaleY(1.25);*/
	transition: all 300ms ease 0ms;
}

/*POETRY*/

.poems
{
	display: flex;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.poetry-heading h2
{
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 500;
}

.poetry-heading h2 hr
{
	/*s*/
	border-top-width: 7px;
	border-top-color:#08d0ff;
	/*border-top-color:#3bafda;*/
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%; 
	margin: 0;
}
.poetry-img
{
	width: 100%;
	/*background: linear-gradient(to bottom right,#F22F2F,#FF5D5D);*/
	/*padding: 10px;*/
	/*border-radius: 100px;*/
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

.mySlides
{
	display: flex;
	justify-content: center;
	/*padding: 0px 10px 0px 10px;*/

}

.mySlide {
    display: none;
}

.mySlide img
{
	height: 25em;
	margin: 10px 10px 10px 10px;
	object-fit: cover;
	cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    /*width: auto;*/
    margin-top: -8em;
    /*padding: 16px;
    color: pink;
    font-weight: bold;*/
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    margin-right: 0em;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #ACACAC;
    border-radius: 10px;
}

.numbertext {
    /*color: #f2f2f2;*/
    font-size: 12px;
	position: absolute;
    /*top: 0;*/
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.read-all button
{
	/*height: 4em;
	width: 6em;*/
	font-size: 1.5em;
	margin: 0px 0px 30px 0px;
	padding: 0.3em 1em;
	border-radius: 10px;
	cursor: pointer;
	background-color: #0c71c3;
	border-color: #0c71c3;
	color: #fff;
}

.read-all button:hover
{
	background-color: #DEDDDD;
	border-color: #DEDDDD;
	color: #000;
}

/*BLOGS*/

.blogs-whole
{
	display: flex;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.blog-heading h2
{
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 500;
}

.blog-heading h2 hr
{
	/*s*/
	border-top-width: 7px;
	border-top-color:#08d0ff;
	/*border-top-color:#3bafda;*/
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%; 
	margin: 0;
}

.blog-content
{
	background-image: linear-gradient(#0c71c3,#5F97F1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	/*margin: 0 30px 0 30px;*/
}

.blog-content-written
{
	display: flex;
	/*margin:20px 0px 0px 0px;*/
	
	padding:50px 60px 50px 60px;
}
.blog-card
{
	display: flex;
	flex-direction: column;
	margin:0 30px 0 30px;
	border:3px solid #012C8E;
	border-radius: 30px;
	padding:0px 20px 20px 20px;
	color: #fff;
	cursor: pointer;
}

.blog-card h3
{
	display: flex;
	justify-content: center;
	font-size: 30px;
	text-decoration: underline;
}

.read-all-blog
{
	margin: 0;
}

.read-all-blog button
{
	/*height: 4em;
	width: 6em;*/
	font-size: 1.5em;
	margin: 0px 0px 30px 0px;
	padding: 0.3em 1em;
	border-radius: 10px;
	cursor: pointer;
	background-color: #0c71c3;
	border-color: #0c71c3;
	color: #fff;
}

.read-all-blog button:hover
{
	background-color: #DEDDDD;
	border-color: #DEDDDD;
	color: #000;
}

.contact-heading
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-heading h2
{
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 500;
	margin-bottom: -10px;
}

.contact-heading h2 hr
{
	/*s*/
	border-top-width: 7px;
	border-top-color:#08d0ff;
	/*border-top-color:#3bafda;*/
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%; 
	margin: 0;
}

.contact-heading p
{
	font-size: 20px;
	color: #999;
}

.contact-btn
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-btn button
{
	/*height: 4em;
	width: 6em;*/
	font-size: 2em;
	margin: 25px 0px 30px 0px;
	padding: 0.3em 1em;
	border-radius: 10px;
	cursor: pointer;
	background-color: #0c71c3;
	border-color: #0c71c3;
	color: #fff;
}

.contact-btn button:hover
{
	background-color: #DEDDDD;
	border-color: #DEDDDD;
	color: #000;
}

/*.email-me
{
	display: flex;
	flex-direction: column;
}

.contact-email
{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}*/

.email 
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #000;
	margin-top: -40px;
}

/********************MEDIA QUERY***********************/

@media (max-width: 1384px)
{
	.left-head
	{
		height: 100px;
		/*width: 200px;*/
	}

	.head-logo
	{
		height: 100%;
		width: 100%;
		margin-left: 10px;
	}
}

@media(max-width: 1300px)
{
	.mySlide img
	{
	height: 20em;
	}
}

@media (max-width: 1150px)
{
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 20px;
	}
	.blog-content-written
	{
	padding:40px 10px 40px 10px;
	}
	.blog-card
	{
		margin:0 10px 0 10px;
		padding:0px 10px 5px 10px;
	}
}

@media (max-width: 1094px)
{
	.left-head
	{
		height: 100px;
		/*width: 210px;*/
	}
	.mySlide img
	{
	height: 18em;
	}
	.prev,.next
	{
		margin-top: -6em;
	}
	.contact-heading h2
	{
	font-size: 37px;
	/*margin-bottom: -10px;*/
	}
	.contact-heading p
	{
		font-size: 17px;
	}
	.contact-btn button
	{
		font-size: 1.5em;
		/*margin: 25px 0px 30px 0px;
		padding: 0.3em 1em;*/
	}
	.email 
	{
		font-size: 20px;
		/*margin-top: -40px;*/
	}

}

@media (max-width: 1045px)
{
	.left-head
	{
		height: 90px;
		/*width: 200px;*/
	}
	.right-head
	{
		margin-right: 10px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 18px;
	}
}

@media(max-width: 976px)
{
	.mySlide img
	{
	height: 16em;
	}
	.poetry-heading h2
	{
	font-size: 35px;
	}
	/*.prev,.next
	{
		margin-top: -6em;
	}*/
	.blog-card h3
	{
		font-size: 25px;
	}
	.blog-heading h2
	{
		font-size: 35px;
	}
}

@media (max-width: 902px)
{
	.head-logo
	{
		/*height: 50px;
		width: 150px;
		margin-top: 20px;*/
		margin-left: 20px;
	}
	.right-head
	{
		width: 75%;
		/*justify-content: center;
		align-items: center;*/
		font-size: 15px;
		column-gap: 4%;
	}
	.social-heading
	{
		font-size: 12px;
	}
	.image-icon
	{
		height: 4.5em;
		width: 4.5em;
	}

}

@media (max-width: 856px)
{
	.head
	{
		/*height: 70px;*/
		column-gap: 10%;
	}
	.right-head
	{
		width: 75%;
		/*justify-content: center;
		align-items: center;*/
		column-gap: 3%;
		justify-content: flex-end;
		align-items: center;
		/*padding: 10px;*/
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		/*font-size: 14px;*/
	}
	.about
	{
		display: flex;
		flex-wrap: wrap;
	}
	.about-img
	{
		height: 600px;
		width: 70%;
		margin-bottom: 20px;
	}
	.mySlide img
	{
	height: 14em;
	}
	.prev,.next
	{
		margin-top: -5em;
	}
	.poetry-heading h2
	{
	font-size: 32px;
	}
	.about
	{
		margin-bottom: 0px;
	}
	.about-content
	{
		margin-bottom: 50px;
	}
	.poems
	{
	margin-top: -30px;
	}
	/*.ab-vid
	{
		object-fit: cover;
	}*/
	.blog-card-para p
	{
		font-size: 15px;
	}
}

@media (max-width: 823px)
{
	.right-head
	{
		/*width: 900px;*/
		/*justify-content: center;
		align-items: center;*/
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 2%;
		padding: 10px;
	}
	.mid-bar
	{
		height: 350px;
	}
}

@media (max-width: 768px)
{
	.left-head
	{
		height: 60px;
		width: 15%;
	}
	.head-logo
	{
		margin-top: 45px;
	}
	.social-content
	{
	 	margin: 10px 20px 10px 30px;
	}
	.blog-content
	{
		margin-bottom: 10px;
	}
	.contact-heading h2
	{
	font-size: 32px;
	margin-bottom: -10px;
	}
	.contact-heading p
	{
		font-size: 14px;
	}
	.contact-btn button
	{
		font-size: 1.25em;
		margin: 20px 0px 30px 0px;
		padding: 0.3em 1em;
	}
	.email 
	{
		font-size: 17px;
		margin-top: -40px;
	}
}

@media(max-width: 775px)
{
	.mySlide img
	{
	height: 12em;
	}
	/*.prev,.next
	{
		margin-top: -5em;
	}*/
	.guest
	{
		display: none;
	}
}

@media (max-width: 687px)
{
	.head
	{
		height: 80px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 13px;
	}
	.left-head
	{
		height: 40px;
		width: 15%;
	}
	.head-logo
	{
	margin-left: 30px;
	margin-top: 25px;
	}
	.mid-bar
	{
		height: 300px;
	}
	.social-whole
	{
	margin-bottom: 30px; 
	}
	.about
	{
		margin: 50px 0px 50px 0px;
	}
	.mySlide img
	{
	height: 10em;
	}
	.prev,.next
	{
		font-size: 23px;
	}
}

@media(max-width: 570px)
{
	.social-heading
	{
		font-size: 10px;
	}
	.image-icon
	{
		height: 4em;
		width: 4em;
	}
	.about-img
	{
		height: 500px;
		width: 80%;
	}
	.mySlide img
	{
	height: 9em;
	}
	.prev,.next
	{
		font-size: 23px;
	}
}

@media (max-width: 548px)
{
	.left-head
	{
		height: 40px;
		width: 14%;
		margin-left: -20px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 11px;
	}
	.mid-bar
	{
		height: 500px;
	}
	.read-all button
	{
	/*height: 4em;
	width: 6em;*/
	font-size: 1em;
	}
	.blog-card h3
	{
		font-size: 22px;
	}
	.blog-card-para p
	{
		font-size: 12px;
	}
}

@media (max-width: 525px)
{
	.mySlides
	{
		display: flex;
		justify-content: center;
		align-items: center;
		/*margin-left: 50px;*/
		flex-direction: column;
	}
	.last
	{
		display: none;
	}
	.mySlide img
	{
	height: 13em;
	}
	.prev,.next
	{
		margin-top: -6em;
	}
	.read-all-blog button
	{
		font-size: 1em;
	}
}

@media (max-width: 500px)
{
	.head-logo
	{
		height: 35px;
		width: 80px;
		margin-left: 20px;
		margin-top: 23px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 10px;
	}
	.mid-bar
	{
		height: 300px;
	}
	.social-heading
	{
		font-size: 9px;
	}
	.image-icon
	{
		height: 3.5em;
		width: 3.5em;
	}
	.social-content
	{
		margin: 10px 20px 10px 10px;
	}
}

@media(max-width: 475px)
{
	.mySlide img
	{
	height: 11em;
	}
}

@media (max-width: 460px)
{
	.about-img
	{
		height: 400px;
		width: 90%;
	}
	.contact-heading h2
	{
	font-size: 28px;
	margin-bottom: -10px;
	}
	.contact-heading p
	{
		font-size: 12px;
	}
	.contact-btn button
	{
		font-size: 1em;
		margin: 20px 0px 30px 0px;
		padding: 0.3em 1em;
	}
	.email 
	{
		font-size: 14px;
		margin-top: -40px;
	}
}

@media (max-width: 456px)
{
	.head
	{
		height: 40px;
	}
	.left-head
	{
		height: 30px;
		width: 15%;
	}
	.head-logo
	{
		height: 100%;
		width: 100%;
	margin-left: 20px;
	margin-top: 15px;
	}
	.right-head
	{
		column-gap: 1%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 9px;
		margin-top: 15px;
	}
	.mid-bar
	{
		height: 300px;
	}
	.hide-line
	{
		display: none;
	}
}

@media (max-width: 404px)
{
	.left-head
	{
		height: 30px;
		width: 15%;
	}
	.head-logo
	{
		height: 90%;
		width: 90%;
	}


	.mySlide img
	{
	height: 9em;
	}
	/*.mySlides
	{
		justify-content: center;
		align-items: center;
	}*/
	.prev,.next
	{
		margin-top: -5em;
		font-size: 20px;
	}
	.poetry-heading h2
	{
	font-size: 25px;
	}
	.blog-card
	{
		padding: 10px;
	}
	.blog-card h3
	{
		font-size: 18px;
	}
	.blog-card-para p
	{
		font-size: 12px;
		/*margin-top: 0px;
	}*/
	}
	.blog-heading h2
	{
		font-size: 25px;
	}
}

@media (max-width: 367px)
{
	.left-head
	{
		height: 30px;
		width: 15%;
	}
	.head-logo
	{
		/*height: 100%;*/
		width: 100%;
	}
	.right-head
	{
		column-gap: 0%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 8px;
	}
	.image-icon
	{
		height: 3em;
		width: 3em;
	}

	.about-heading h2
	{
	font-size: 20px;
	}

	.about-para
	{
	font-size: 17px;
	}

	.about-more button
	{
	font-size: 16px;
	}
	.about-content
	{
		margin-bottom: 15px;
	}
	.contact-heading h2
	{
	font-size: 25px;
	margin-bottom: -10px;
	}
	.contact-heading p
	{
		font-size: 10px;
	}
	.contact-btn button
	{
		font-size: 1em;
		margin: 20px 0px 30px 0px;
		padding: 0.3em 1em;
	}
	.email 
	{
		font-size: 12px;
		margin-top: -40px;
	}
	.blog-card h3
	{
		font-size: 15px;
	}
	.blog-card-para p
	{
		font-size: 9px;
		/*margin-top: 0px;
	}*/
	}
}

@media (max-width: 347px)
{
	/*.head-logo
	{
		display: none;
		width: 100px;
	}*/
	.left-head
	{
		height: 20px;
		width: 50%;
		margin-top: 5px;
	}
	.head-logo
	{
		height: 100%;
		width: 100%;
	}
	.right-head
	{
		column-gap: 0;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 7px;
		margin-right: 0px;
	}
	.about
	{
		margin: 50px 0px 20px 0px;
	}
	.poems
	{
		margin-top: 0px;
	}
	.left-head
	{
		height: 20px;
		width: 15%;
	}
	.head-logo
	{
		height: 100%;
		width: 100%;
	}
	.mySlide img
	{
	height: 8em;
	}
	/*.mySlides
	{
		justify-content: center;
		align-items: center;
	}*/
	.prev,.next
	{
		margin-top: -5em;
		font-size: 20px;
	}

}
