/**********SCROLLBAR**********/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
 /* background: #606060;*/
 /*background: #8a8a8a;*/ 
 background: #b3b3b3;
  border-radius: 10px;
  padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
  /*background: #cccccc;*/
  background: #8a8a8a; 
}

::-ms-scrollbar {
  width: 10px;
}

::-ms-scrollbar-track {
  background: #f1f1f1; 
}

::-ms-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-ms-scrollbar-thumb:hover {
  background: #cccccc; 
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #f1f1f1; 
}

::-moz-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-moz-scrollbar-thumb:hover {
  background: #cccccc; 
}

body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin-left: 0;
}

.head
{
	display: flex;
	height: 80px;
	width: 100%;
	justify-content: space-between;
	column-gap: 8%;
	top: 0px;
	background-color: rgba(10,10,10,0.99);
	position: fixed;
	box-shadow: none;
	z-index: 99999;
}

.left-head
{
	width: 5%;
	margin: 0;
}

.head-logo
{
	height: 50px;
	width: 150px;
	margin-top: 20px;
	margin-left: 50px;
}

.right-head
{
	display: flex;
	width: 1200px;
	justify-content: center;
	align-items: center;
	column-gap: 6%;
	margin-right: 50px: 
}

.blog, .podcast,
.poetry,
.workshop,
.public-speaking,
.books,
.my-story,
.contacts{
	border:none;
	background-color: transparent;
	font-size: 18px;
	/*width: fit-content;*/
	/*overflow: hidden;*/
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
	text-decoration: none;
}

.animated-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cover
{
	height: 700px;
}

.cover-img
{
	height: 100%;
	width: 100%;
}

/********************MAIN PAGE*******************/

.book-main-heading
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.book-main-heading h1
{
	font-family: fantasy;
	font-size: 5em;
	font-weight: 100;
	border-bottom: 2px solid #1000AF;
	border-right: 2px solid #1000AF;
	width: 700px;
	height: 100px;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
	-moz-box-shadow: 4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 6px 6px 7px #3421F1;
	margin: 0px;
}

.book-main-whole
{
	margin: 50px 0px 50px 0px;
}

.book-back
{
	background-image: url(img/book_background.jpg);
	object-fit: cover;
}

.book-about-whole
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 50px 0px 10px;
}

.book-about-img
{
	/*margin-right: -100px;*/
	height: 700px;
	width: 150em;
}

.book-about-img img
{
	/*height: 700px;
	width: 1000px;*/
	height: 100%;
	width: 100%;
	/*object-fit: cover;*/
}

.book-about-content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*padding:40px;*/
	/*margin:100px 150px 50px 100px;*/
	color: #000;
	padding: 0px 50px 0px 50px;
}

.book-about-content h2
{
	font-size: 30px;
	/*margin-top:-60px; */
	text-transform: uppercase;
	color: #000;
	letter-spacing: 5px;
	font-weight: 900;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.book-about-content h2 hr
{
	width: auto;
	/*border-top-width: 7px;*/
	border-top: 7px solid #A29700; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}

.book-about-content p
{
	font-size: 20px;
}

.amazon
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.amazon img
{
	height: 100px;
	width: 200px;
}

.book-imgs
{
	display: flex;
	padding: 20px;
}

.book-imgs-heading
{
	display: flex;
	justify-content: center;
	align-items: center;
}

..book-imgs-heading h1
{
	margin: 0px 20px 0px 20px;
}

.book-imgs-img
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 700px;
	width: 80em;
}

.book-imgs-img img
{
	/*height: 700px;
	width: 1000px;*/
	height: 100%;
	width: 100%;
	/*margin-bottom: 100px;*/
	/*object-fit: cover;*/
}

.book-imgs-heading h1
{
	font-size: 70px;
	letter-spacing: 3px;
	color: #000;
	font-weight: 700;
	/*font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;*/
	font-family: "Twinkle Star",sans-serif;
}

.book-imgs h1 hr
{
	width: auto;
	/*border-top-width: 7px;*/
	border-top: 7px solid #fff; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}

.book-poster
{
	margin: 0px 0px 0px 0px;
}

.book-poster img
{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.my-poems
{
	display: flex;
	flex-direction: column;
	/*justify-content: center;
	align-items: center;*/
}

.my-poems-heading
{
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	font-size: 30px;
	margin-top:30px; 
	text-transform: uppercase;
	color: #000;
	letter-spacing: 5px;
	font-weight: 900;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.my-poems-heading h2 hr
{
	width: auto;
	/*border-top-width: 7px;*/
	border-top: 7px solid #fff; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}

.my-poems-content
{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
}

.my-poems-ch
{
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	
	padding: 20px 20px 20px 20px;
	/*background-color: #fdefb7;*/
	background-image: linear-gradient(#fdefb7,#fff);
	border-radius: 60px;
	/*margin-left: 70px;*/
	height: 50%;
}

.my-poems-ch ul li
{
	font-family: "Poppins",sans-serif;
	font-size: 25px;
}

.my-poems-img
{
	/*height: 500px;
	width: 900px;*/
	/*margin-right: 50px;*/
	height: 650px;
	width: 600px;
}

.my-poems-img img
{
	height: 100%;
	width: 100%;
}

.footer
{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.foot
{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10%;
	background-color: #2D2C2C;
	padding: 30px 0px 30px 0px;
}
.foot-logo 
{
	height: 100px;
	width: 200px;
}
.foot-logo img
{
	height: 100%;
	width: 100%;
}
.foot-list
{
	color: #fff;
	font-size: 18px;
}

.made-by
{
	background-color: #000;
	color:#6D6C6C;
	display: flex;
	justify-content: center;
	align-items: center;
}

/********************MEDIA QUERY***********************/

@media (max-width: 1384px)
{
	.left-head
	{
		width: 5%;
		margin: 0;
	}

	.head-logo
	{
		height: 40px;
		width: 140px;
	}

	.right-head
	{
		width: 1000px;
		column-gap: 4%;
	}

}

@media (max-width: 1203px)
{
	.right-head
	{
		width: 900px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 18px;
	}
}

@media (max-width: 1094px)
{
	.right-head
	{
		width: 700px;
	}
	.book-about-img
	{
		height: 500px;
		width: 120em;
	}
	.book-about-content p
	{
		font-size: 18px;
	}
	.book-imgs-img
	{
		height: 500px;
		width: 120em;
	}
}

@media(max-width: 1024px)
{
	/*.book-about-img
	{
		height: 600px;
		width: 200em;
	}*/
	.amazon
	{
		margin-top: 20px;
	}
}

@media (max-width: 899px)
{
	.head-logo
	{
		margin-left: 20px;
	}
	.right-head
	{
		width: 800px;
		font-size: 15px;
		column-gap: 2%;
	}
	.book-main-heading h1
	{
		font-size: 4em;
		width: 600px;
		height: 80px;
	}
	.book-about-img
	{
		height: 450px;
		width: 120em;
	}
}

@media (max-width: 856px)
{
	.head
	{
		height: 70px;
		column-gap: 10%;
	}
	.right-head
	{
		width: 900px;
		column-gap: 2%;
		justify-content: flex-end;
		align-items: center;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 14px;
	}
}

@media (max-width: 823px)
{
	.head
	{
		column-gap: 10%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 14px;
	}
	.right-head
	{
		width: 900px;
		/*justify-content: center;
		align-items: center;*/
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 2%;
		padding: 10px;
	}
	.cover
	{
		height: 350px;
	}
}

@media(max-width: 750px)
{
	.book-main-heading h1
	{
		font-size: 3em;
		width: 450px;
		height: 60px;
	}
	.book-about-img
	{
		height: 550px;
		width: 250em;
	}
	.book-about-content
	{
		padding: 20px;
	}
	.book-about-content h2
	{
		font-size: 25px;
	}
	.book-about-content p
	{
		font-size: 15px;
	}
	.book-imgs-img
	{
		height: 500px;
		width: 150em;
	}
	.book-imgs-heading h1
	{
		font-size: 50px;
	}
	.my-poems-img
	{
		height: 550px;
		width: 500px;
	}
	.my-poems-heading
	{
		font-size: 25px;
		margin-top:25px; 
		letter-spacing: 5px;
	}
}

@media (max-width: 687px)
{
	.head
	{
		height: 60px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 13px;
	}
	.head-logo
	{
	height: 30px;
	width: 100px;
	margin-left: 20px;
	margin-top: 20px;
	}
	.cover
	{
		height: 300px;
	}
	.amazon img
	{
		height: 80px;
		width: 150px;
	}
}

@media(max-width: 650px)
{
	.my-poems-img
	{
		height: 450px;
		width: 400px;
	}
	.my-poems-heading
	{
		font-size: 20px;
		margin-top:20px; 
		letter-spacing: 5px;
	}
}

@media (max-width: 600px)
{
	.head
	{
		height: 60px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 11px;
	}
	
	.head-logo
	{
	height: 25px;
	width: 90px;
	margin-left: 10px;
	margin-top: 20px;
	}
}

@media(max-width: 550px)
{
	.book-about-img
	{
		height: 500px;
		width: 250em;
		margin-top: -100px;
	}
	.amazon img
	{
		height: 70px;
		width:	100px;
	}
	.book-imgs-img
	{
		height: 450px;
		width: 150em;
	}
	.book-imgs-heading h1
	{
		font-size: 40px;
	}
	.my-poems-img
	{
		height: 400px;
		width: 400px;
	}
	.my-poems-ch ul li
	{
		font-size: 18px;
	}
}

@media (max-width: 518px)
{
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 10px;
	}
	.book-main-heading h1
	{
		font-size: 2.5em;
		width: 350px;
		height: 50px;
	}
	.book-about-img
	{
		height: 400px;
		width: 250em;
	}
}

@media (max-width: 500px)
{
	.head-logo
	{
		height: 20px;
		width: 80px;
		margin-left: 7px;
		margin-top: 23px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 9px;
	}
	.cover
	{
		height: 200px;
	}
	.my-poems-heading
	{
		font-size: 17px;
		margin-top:10px; 
		letter-spacing: 2px;
	}
}

@media(max-width: 470px)
{
	.book-about-whole
	{
		padding: 20px 0px 20px 10px;
	}
	.book-about-img
	{
		height: 300px;
		width: 200em;
		margin-top: -100px;
	}
	.book-imgs-img
	{
		height: 350px;
		width: 100em;
	}
	.book-imgs-heading h1
	{
		font-size: 40px;
	}
	.my-poems-ch
	{
		padding: 10px;
	}
	.my-poems-ch ul li
	{
		font-size: 15px;
	}
}

@media (max-width: 434px)
{
	.head
	{
		height: 40px;
	}
	.head-logo
	{
	height: 20px;
	width: 80px;
	margin-left: 7px;
	margin-top: 15px;
	}
	.right-head
	{
		column-gap: 1%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 9px;
	}
	.book-main-heading h1
	{
		font-size: 2em;
		width: 300px;
		height: 40px;
	}
	.book-about-img
	{
		height: 200px;
		width: 150em;
		margin-top: -200px;
	}
	.book-about-content h2
	{
		font-size: 17px;
		letter-spacing: 2px;
	}

	.book-about-content p
	{
		font-size: 12px;
	}
	.my-poems-img
	{
		height: 300px;
		width: 300px;
	}
}

@media (max-width: 404px)
{
	.book-about-whole
	{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	}
	.book-about-img
	{
		height: 550px;
		width: 200em;
		margin-top: 0px;
	}
	.book-about-img img
	{
		height: 90%;
		width: 90%;
		object-fit: cover;
		margin-left: 20px;
	}
	.book-about-content h2
	{
		font-size: 25px;
	}

	.book-about-content p
	{
		font-size: 17px;
	}
	.amazon img
	{
		height: 100px;
		width:	150px;
	}
	.book-imgs
	{
		display: flex;
		flex-wrap: wrap;
	}
	.book-imgs-img
	{
		height: 370px;
		width: 100em;
	}
	.book-imgs-heading h1
	{
		font-size: 40px;
	}
	.my-poems-heading
	{
		font-size: 14px;
	}
}

@media (max-width: 367px)
{
	.head-logo
	{
		width: 65px;
	}
	.book-imgs-img
	{
		height: 300px;
		width: 100em;
	}
	.my-poems-ch
	{
		border-radius: 10px;
	}
	.my-poems-ch ul
	{
		padding-inline-start: 10px;
	}
	.my-poems-ch ul li
	{
		font-size: 12px;
	}
	.my-poems-img
	{
		height: 250px;
		width: 250px;
	}
	.my-poems-heading
	{
		font-size: 12px;
		margin-top:5px; 
		letter-spacing: 1px;
	}
}

@media (max-width: 347px)
{
	.head-logo
	{
		width: 50px;
	}
	.right-head
	{
		column-gap: 0;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 8px;
	}
	.book-main-heading h1
	{
		font-size: 1.75em;
		width: 300px;
		height: 30px;
	}
	.book-about-content h2
	{
		font-size: 20px;
	}
	.amazon img
	{
		height: 80px;
		width:	120px;
	}

}

@media(max-width: 330px)
{
	.book-about-img
	{
		height: 500px;
		width: 250em;
		/*margin-left: 20px;*/
	}
	.book-imgs-img
	{
		height: 300px;
		width: 100em;
	}
}

