/**********SCROLLBAR**********/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
 /* background: #606060;*/
 /*background: #8a8a8a;*/ 
 background: #b3b3b3;
  border-radius: 10px;
  padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
  /*background: #cccccc;*/
  background: #8a8a8a; 
}

::-ms-scrollbar {
  width: 10px;
}

::-ms-scrollbar-track {
  background: #f1f1f1; 
}

::-ms-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-ms-scrollbar-thumb:hover {
  background: #cccccc; 
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #f1f1f1; 
}

::-moz-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-moz-scrollbar-thumb:hover {
  background: #cccccc; 
}



body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
}

.topnav {
  /*overflow: hidden;*/
  position: fixed;
  display: none;
  z-index: 99;
  height: 60px;
  width: 100%;
  background-color: rgba(10,10,10,0.99); 
  top: 0;
}

.topnav #myLinks {
  display: none;
  background-color: #000;
  /*background: transparent;*/
  opacity: 0.8;
  margin-right: 20px;
  margin-top: 10px;
  position: absolute;
  overflow: auto;
  z-index: 99;
 /* max-width: 160px;*/
 right: 0;
}

.topnav #myLinks a
{
	font-size: 20px;
}

.sml-head a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin-left: 20px;
  /*z-index: 99999;*/
  /*background-color: rgba(10,10,10,0.99);*/ 
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.hamburger
{
	/*display: flex;
	justify-content: flex-end;
	align-items: flex-end;*/
	/*float: right;*/
}

.sml-blog
{
	border:none;
	background-color: transparent;
	font-size: 20px;
	/*width: fit-content;*/
	/*overflow: hidden;*/
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
}

.sml-head a.icon {
  /*background: black;*/
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  margin:0px 30px 0px 0px;
}


.head
{
	display: flex;
	height: 80px;
	width: 100%;
	justify-content: space-between;
	column-gap: 8%;
	top: 0px;
	background-color: rgba(10,10,10,0.99);
	position: fixed;
	box-shadow: none;
	z-index: 99999;
}

.left-head
{
	width: 5%;
	margin: 0;
}

.head-logo
{
	height: 50px;
	width: 150px;
	margin-top: 20px;
	margin-left: 50px;
}

.right-head
{
	display: flex;
	width: 1200px;
	justify-content: center;
	align-items: center;
	column-gap: 6%;
	margin-right: 50px: 
}

.blog, .podcast,
.poetry,
.workshop,
.public-speaking,
.books,
.my-story,
.contacts{
	border:none;
	background-color: transparent;
	font-size: 18px;
	/*width: fit-content;*/
	/*overflow: hidden;*/
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
	text-decoration: none;
}

.animated-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cover
{
	margin-top: 80px;
	height: 300px;
}

.cover-img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*******************MAIN PAGE******************/

.main-whole
{
	margin: 50px 10px 50px 10px;
}

.my-story-whole
{
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	margin: 0px 30px 0px 30px;
}

.my-story-img
{
	height: 35em;
	width: 250em;
}

.my-story-img img
{
	height: 100%;
	width: 100%;
	border-radius: 30px;
	object-fit: cover;
}

.my-story-content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#0c71c3,#5F97F1);
	margin: 0px 20px 0px 30px;
	border-radius: 30px;
}

.my-story-content:hover
{	
	z-index: 2;
	box-shadow: rgba(228, 207, 44, 0.919) 0px 50px 100px -20px, rgba(247, 6, 6, 0.974) 0px 30px 60px -30px, rgba(8, 238, 215, 0.96) 0px -2px 6px 0px inset;
	font-weight: bold;
	background-image: linear-gradient(#0b5c9e,#5F97F1);

}

.my-story-heading
{
	font-size: 25px;
	/*margin-top:-60px; */
	color: #fff;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.my-story-heading h2 hr
{
	width: auto;
	/*border-top-width: 7px;*/
	border-top: 7px solid #0C2BD3; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}

.my-story-para
{
	padding: 10px 70px 10px 70px;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}

/*************************EDUCATION BACKGROUND*************************/

.ed-back-whole
{
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	margin: 130px 40px 50px 10px;
}

.ed-my-story-content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#0c71c3,#5F97F1);
	margin: 0px 20px 0px 30px;
	border-radius: 30px;
}

.ed-my-story-content:hover
{	
	z-index: 2;
	box-shadow: rgba(228, 207, 44, 0.919) 0px 50px 100px -20px, rgba(247, 6, 6, 0.974) 0px 30px 60px -30px, rgba(8, 238, 215, 0.96) 0px -2px 6px 0px inset;
	font-weight: bold;
	background-image: linear-gradient(#0b5c9e,#5F97F1);

}

.ed-my-story-heading
{
	font-size: 25px;
	/*margin-top:-60px; */
	color: #fff;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.ed-my-story-heading h2 hr
{
	width: auto;
	/*border-top-width: 7px;*/
	border-top: 7px solid #0C2BD3; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}


.ed-back-img
{
	height: 40em;
	width: 160em;
}

.ed-back-img img
{
	height: 100%;
	width: 100%;
	border-radius: 30px;
	object-fit: cover;
	/*object-fit: cover;*/
}

.edu-back-para
{
	padding: 10px 70px 10px 70px;
	font-size: 22px;
	color: #fff;
	font-weight: 400;
}

/*********************WHAT I LOVE***************************/

.wt-love-whole
{
	display: flex;
	/*align-items: center;
	justify-content: center;*/
}

.wt-love-img
{
	height: 20em;
	width: 20em;
	margin-bottom: 20px;
}
.wt-love-img2
{
	margin-bottom: 0px;
}

.speaking
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.speaking:hover
{
	transform: scale(1.125);
	transition: transform 1s ease;
}

.radio
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50px;
	/*margin-bottom: -10px;*/
}
.radio:hover
{
	transform: scale(1.125);
	transition: transform 1s ease;
}

.wt-love-content
{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	/*background-image: linear-gradient(#0c71c3,#5F97F1);*/
	background-image: linear-gradient(#4446A1,#7677B0);
	/*height: 35em;*/
	width: 40%;
	margin: 10px 100px 10px 100px;
	padding: 20px;
	border-radius: 30px;
}

.wt-love-content:hover
{
	z-index: 2;
	box-shadow: rgba(228, 207, 44, 0.919) 0px 50px 100px -20px, rgba(247, 6, 6, 0.974) 0px 30px 60px -30px, rgba(8, 238, 215, 0.96) 0px -2px 6px 0px inset;
	/*font-weight: bold;*/
	background-image: linear-gradient(#33357a,#7677B0);
}

.wt-love-heading
{
	font-size: 30px;
	color: #fff;
}

.wt-love-heading h2 hr
{
	width: auto;
	/*border-top-width: 7px;*/
	border-top: 7px solid #0A0C47; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}

.wt-love-list
{
	font-size: 23px;
	display: flex;
	color: #fff;
}

.wt-love-list ul li
{
	margin: 20px 0 20px 0;
}

.wt-love-list ul li a
{
	color: #DEDEDE;

}

.pro-back-whole
{
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	margin: 50px 30px 50px 30px;
}

.pro-back-img
{
	height: 40em;
	width: 150em;
}

.pro-back-img img
{
	height: 100%;
	width: 100%;
	border-radius: 30px;
	object-fit: cover;
}

.pro-back-para
{
	padding: 10px 150px 10px 150px;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}

.pro-back-para p a
{
	color: blue;
	font-weight: 600;
}

.footer
{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.foot
{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10%;
	background-color: #2D2C2C;
	padding: 30px 0px 30px 0px;
}
.foot-logo 
{
	height: 100px;
	width: 200px;
}
.foot-logo img
{
	height: 100%;
	width: 100%;
}
.foot-list
{
	color: #fff;
	font-size: 18px;
}

.made-by
{
	background-color: #000;
	color:#6D6C6C;
	display: flex;
	justify-content: center;
	align-items: center;
}

/********************MEDIA QUERY***********************/

@media (max-width: 1384px)
{
	.left-head
	{
		width: 5%;
		margin: 0;
	}

	.head-logo
	{
		height: 40px;
		width: 140px;
	}

	.right-head
	{
		width: 1000px;
		/*justify-content: center;
		align-items: center;*/
		column-gap: 4%;
	}

}

@media (max-width: 1203px)
{
	.right-head
	{
	width: 900px;
	/*justify-content: center;
	align-items: center;
	column-gap: 6%;*/
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
	font-size: 18px;
	}
	.wt-love-content
	{
		width: 60%;
		margin: 10px 50px 10px 50px;
		padding: 20px;
		border-radius: 30px;
	}
}

@media (max-width: 1120px)
{
	/*.my-story-img
	{
	height: 32em;
	width: 250em;
	}*/
	.my-story-content
	{
		margin: 0px 0px 0px 10px;
	}
	.my-story-heading
	{
		font-size: 20px;
	}
	.my-story-para
	{
		font-size: 20px;
	}
	.ed-back-img
	{
		height: 37em;
		width: 170em;
		margin-left: 20px;
	}
	.ed-my-story-heading
	{
		font-size: 20px;
	}
	.edu-back-para
	{
		font-size: 18px;
	}
}

@media (max-width: 1094px)
{
	.right-head
	{
		width: 700px;
		/*justify-content: center;
		align-items: center;
		column-gap: 6%;*/
	}
	.heading
	{
		font-size:12px; 
	}
	.para p
	{
		font-size: 17px;
	}
	.wt-love-content
	{
		width: 60%;
		margin: 10px 30px 10px 30px;
		padding: 20px;
		border-radius: 30px;
	}
	.wt-love-heading
	{
		font-size: 25px;
	}
	.wt-love-list
	{
		font-size: 20px;
	}

	.wt-love-list ul li
	{
		margin: 0px 0 0px 0;
	}
	.wt-love-img
	{
	height: 18em;
	width: 18em;
	margin-bottom: 20px;
	}
	.pro-para
	{
		padding: 10px 40px 10px 40px;
	}
}

@media (max-width: 1024px)
{
	.my-story-heading
	{
		font-size: 20px;
	}
	.my-story-para
	{
		font-size: 17px;
	}
	.ed-back-img
	{
		height: 33em;
		width: 170em;
	}
}

@media (max-width: 950px)
{
	.my-story-para
	{
	padding: 10px 40px 10px 40px;
	/*font-size: 20px;
	color: #fff;
	font-weight: 400;*/
	}
	.ed-my-story-heading
	{
		font-size: 18px;
	}
	.edu-back-para
	{
		font-size: 18px;
		padding: 10px 40px 10px 40px;
	}
	.wt-love-img
	{
	height: 15em;
	width: 15em;
	}
	/*.my-story-heading
	{
		font-size: 25px;
	}*/

	.pro-para
	{
		padding: 10px 40px 10px 40px;
	}
}

@media (max-width: 899px)
{
	.head-logo
	{
		/*height: 50px;
		width: 150px;
		margin-top: 20px;*/
		margin-left: 20px;
	}
	.right-head
	{
		width: 800px;
		/*justify-content: center;
		align-items: center;*/
		font-size: 15px;
		column-gap: 2%;
	}
}

@media (max-width: 856px)
{
	.head
	{
		height: 70px;
		column-gap: 10%;
	}
	.right-head
	{
		width: 900px;
		/*justify-content: center;
		align-items: center;*/
		column-gap: 2%;
		justify-content: flex-end;
		align-items: center;
		/*padding: 10px;*/
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 14px;
	}
	.ed-my-story-heading
	{
		font-size: 15px;
	}
	.edu-back-para
	{
		font-size: 15px;
	}
	.ed-back-img
	{
		height: 31em;
		width: 170em;
	}
	.cover
	{
		margin-top: 50px;
	}
	.wt-love-content
	{
		margin: 10px 10px 10px 10px;
		padding: 10px;
	}
	.wt-love-heading
	{
		font-size: 20px;
	}
	.wt-love-list
	{
		font-size: 17px;
	}

	.wt-love-list ul li
	{
		margin: 0px 0 0px 0;
	}
}

@media (max-width: 823px)
{
	.head
	{
		column-gap: 10%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 14px;
	}
	.right-head
	{
		width: 900px;
		/*justify-content: center;
		align-items: center;*/
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 2%;
		padding: 10px;
	}
	.my-story-whole
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.my-story-img
	{
		height: 70%;
		width: 70%;
	}
	.my-story-heading
	{
	font-size: 25px;
	}
	.my-story-para
	{
		padding: 10px 70px 10px 70px;
		font-size: 20px;
	}
	.wt-love-img
	{
	height: 12em;
	width: 12em;
	}
	.pro-heading
	{
	font-size: 17px;
	}
	.pro-back-img
	{
		/*height: 35em;*/
		width: 160em;
	}
}

@media (max-width: 764px)
{
	.ed-back-whole
	{
		display: flex;
		flex-wrap: wrap;
	}
	.ed-my-story-heading
	{
		font-size: 25px;
	}
	.ed-back-img
	{
		height: 50em;
		width: 160em;
		display: flex;
		justify-content: center;
		/*align-items: center;*/
		margin-top: 20px;
	}
	.ed-back-img img
	{
		height: 80%;
		width: 80%;
	}
	.edu-back-para
	{
		padding: 10px 70px 10px 70px;
		font-size: 22px;
	}
	.pro-back-img
	{
		/*height: 35em;*/
		width: 170em;
	}
}

@media (max-width: 687px)
{
	.head
	{
		height: 60px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 13px;
	}
	.left-head
	{
		/*display: flex;
		justify-content: center;
		align-items: center;*/
	}
	.head-logo
	{
	height: 30px;
	width: 100px;
	margin-left: 20px;
	margin-top: 20px;
	}
	.ed-my-story-heading
	{
		font-size: 20px;
	}
	.edu-back-para
	{
		padding: 10px 40px 10px 40px;
		font-size: 20px;
	}
	.cover
	{
		height: 250px;
	}
	.wt-love-whole
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.wt-love-img-left
	{
		display: flex;
		column-gap: 6%;
		margin: 0px 20px 0px 20px;
	}
	.wt-love-img-right
	{
		display: flex;
		column-gap: 6%;
	}
	.pro-back-img
	{
		/*height: 35em;*/
		width: 180em;
	}
}

@media (max-width: 600px)
{
	.head
	{
		height: 60px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 11px;
	}
	
	.head-logo
	{
	height: 25px;
	width: 90px;
	margin-left: 10px;
	margin-top: 20px;
	}
	.my-story-heading
	{
	font-size: 20px;
	}
	.my-story-para
	{
		padding: 10px 30px 10px 30px;
		font-size: 17px;
	}
	.pro-back-whole
	{
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		align-items: center;
	}
	.pro-back-img
	{
		margin-bottom: 20px;
		height: 80%;
		width: 80%;
	}
	.pro-back-img img
	{
		
	}
}

@media(max-width: 580px)
{
	.ed-my-story-heading h2
	{
		font-size: 25px;
	}
}

@media (max-width: 563px)
{
	.ed-back-img
	{
		height: 40em;
		width: 170em;
	}
	.ed-back-img img
	{
		height: 80%;
		width: 80%;
	}
	.ed-my-story-content
	{
	margin: 0px 5px 0px 5px;
	}
	.edu-back-para
	{
		padding: 10px 20px 10px 20px;
		font-size: 20px;
	}
	.cover
	{
		height: 200px;
	}
}

@media (max-width: 518px)
{
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 10px;
	}
	.my-story-img
	{
		height: 100%;
		width: 100%;
	}
}

@media (max-width: 500px)
{
	.head-logo
	{
		height: 20px;
		width: 80px;
		margin-left: 7px;
		margin-top: 23px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 9px;
	}
	.my-story-heading
	{
	font-size: 17px;
	}
	.my-story-para
	{
		padding: 10px 30px 10px 30px;
		font-size: 15px;
	}
	.cover
	{
		height: 200px;
	}
	.wt-love-content
	{
		width: 80%;
		margin: 10px 10px 10px 10px;
		padding: 10px;
	}
	.ed-my-story-heading h2
	{
		font-size: 22px;
	}
	.edu-back-para p
	{
		font-size: 18px;
	}
}

@media (max-width: 478px)
{
	.ed-back-img
	{
		height: 35em;
		width: 150em;
	}
	.ed-back-img img
	{
		height: 80%;
		width: 80%;
	}
}

@media (max-width: 434px)
{
	.head
	{
		height: 40px;
	}
	.head-logo
	{
	height: 20px;
	width: 80px;
	margin-left: 7px;
	margin-top: 15px;
	}
	.right-head
	{
		column-gap: 1%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 9px;
	}
	.my-story-heading
	{
	font-size: 15px;
	}
	.my-story-para
	{
		padding: 10px 10px 10px 10px;
		font-size: 15px;
	}
	.cover
	{
		margin-top: 30px;
		height: 150px;
	}
	.pro-para
	{
		padding: 10px 10px 10px 10px;
	}
	.ed-my-story-heading h2
	{
		font-size: 20px;
	}
	.edu-back-para p
	{
		font-size: 18px;
	}

}

@media(max-width: 430px)
{
	.topnav
	{
		display: block;
		/*flex-direction: column;*/
	}
	.head
	{
		display: none;
	}
	.sml-head
	{
	height: 40px;
	width: 45%;
	}

	.sml-head-logo
	{
	height: 85%;
	width: 85%;
	margin-top: 0px;
	/*margin-top: 30px;
	margin-left: 50px;*/
	}
	.hide-text
	{
		display: none;
	}
	.cover
	{
		height: 200px;
	}
	.cover-img
	{
		margin-top: 20px;
	}
}
@media (max-width: 425px)
{
	.ed-my-story-content
	{
		margin-left: 20px; 
	}
	.ed-back-img
	{
		height: 35em;
		width: 150em;
	}
	.ed-back-img img
	{
		height: 90%;
		width: 90%;
	}
	.ed-my-story-heading
	{
		font-size: 15px;
	}
	.edu-back-para
	{
		padding: 10px 10px 10px 10px;
		font-size: 17px;
	}
	.wt-love-img
	{
	height: 10em;
	width: 10em;
	}
	.ed-my-story-heading h2
	{
		font-size: 18px;
	}
	.edu-back-para p
	{
		font-size: 15px;
	}
	.gap-heading 
	{
		margin: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 367px)
{
	.head-logo
	{
	/*height: 20px;*/
	width: 65px;
	/*margin-left: 7px;
	margin-top: 15px;*/
	}
	.my-story-whole
	{
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	margin: 0px 10px 0px 10px;
	}
	.ed-back-img
	{
		height: 32em;
		width: 120em;
	}
	.ed-back-img img
	{
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.ed-my-story-heading
	{
		font-size: 13px;
	}
	.edu-back-para
	{
		padding: 0px 10px 10px 10px;
		font-size: 14px;
	}
	.ed-my-story-content
	{
	margin: 0px -20px 0px -10px;
	}
	.wt-love-content
	{
		width: 90%;
	}
	.pro-back-whole
	{
		margin: 50px 10px 50px 10px;
	}
}

@media (max-width: 347px)
{
	.head-logo
	{
		/*display: none;*/
		width: 50px;
	}
	.right-head
	{
		column-gap: 0;
	}
	.ed-my-story-heading h2
	{
		font-size: 17px;
		margin: 0;
	}
	.pro-heading
	{
		font-size: 17px;
	}
	.edu-back-para p
	{
		font-size: 15px;
	}
	.sml-head-logo
	{
	height: 100%;
	width: 100%;
	margin-top: 0px;
	/*margin-top: 30px;
	margin-left: 50px;*/
	}
}

@media(max-width: 337px)
{
	.gap-heading 
	{
		margin: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 320px)
{
	/*.ed-my-story-content
	{
		margin-left: 12px;
	}*/
	.ed-back-img
	{
		height: 28em;
		width: 120em;
	}
	.ed-back-img img
	{
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.wt-love-img
	{
	height: 10em;
	width: 9.5em;
	}
}
