/**********SCROLLBAR**********/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
 /* background: #606060;*/
 /*background: #8a8a8a;*/ 
 background: #b3b3b3;
  border-radius: 10px;
  padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
  /*background: #cccccc;*/
  background: #8a8a8a; 
}

::-ms-scrollbar {
  width: 10px;
}

::-ms-scrollbar-track {
  background: #f1f1f1; 
}

::-ms-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-ms-scrollbar-thumb:hover {
  background: #cccccc; 
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #f1f1f1; 
}

::-moz-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
  padding: 1px;
}

::-moz-scrollbar-thumb:hover {
  background: #cccccc; 
}

html {
    scroll-behavior: smooth;
}

body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin-left: 0;
}

.head
{
	display: flex;
	height: 80px;
	width: 100%;
	justify-content: space-between;
	column-gap: 8%;
	top: 0px;
	background-color: rgba(10,10,10,0.99);
	position: fixed;
	box-shadow: none;
	z-index: 99999;
}

.left-head
{
	width: 5%;
	margin: 0;
}

.head-logo
{
	height: 50px;
	width: 150px;
	margin-top: 20px;
	margin-left: 50px;
}

.right-head
{
	display: flex;
	width: 1200px;
	justify-content: center;
	align-items: center;
	column-gap: 6%;
}

.blog, .podcast,
.poetry,
.workshop,
.public-speaking,
.books,
.my-story,
.contacts{
	border:none;
	background-color: transparent;
	font-size: 18px;
	/*width: fit-content;*/
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
	text-decoration: none;
}

.animated-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*******************POEM***************************/

.poem-cover
{
	height: 700px;
}

.poem-cover-img
{
	height: 100%;
	width: 100%;
}

.poem-main
{
	display: grid;
	grid-gap: 11em;
	grid-row-gap: 100px;
	grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); 
	 grid-template-rows: 1fr; 
	margin: 100px 180px 50px 50px;
	/*padding: 50px 50px 50px 50px;*/
}

.poem-main-card
{
	height: 25em;
	width: 25em;
}

.poem-main-card img
{
	height: 25em;
	width: 25em;
	margin-bottom: 0px;
	border-radius: 30px;
	cursor: pointer;
}

/************************PODCAST***********************/

.podcast-journey-whole
{
	display: flex;
	margin-top: 200px;
}

.podcast-cover
{
	height: 37em;
	width: 40%;
	/*margin-left: 400px;*/
	margin: 10px 10px 50px 50px;
}

.podcast-cover-img
{
	height: 100%;
	width: 100%;
	border-radius: 30px;
}

.podcast-journey
{
	/*height: 25em;*/
	padding: 70px;
	width: 40%;
	margin: 10px 40px 50px 0px;
	background-image: linear-gradient(#0c71c3,#5F97F1);
	color: #fff;
	border-radius: 30px;
}

.podcast-journey h2
{
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-size: 30px;
}

.podcast-journey h2 hr
{
	border-top-width: 7px;
	
	width: auto;
	border-top-width: 7px;
	border-top: 7px solid #0C2BD3; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}

.podcast-journey p
{
	font-size: 20px;
}

.podcast-journey p a
{
	color: blue;
	font-weight: 600;
}

.my-pod-heading
{
	display: flex;
	justify-content: center;
}

.my-pod-heading h2
{
	text-transform: uppercase;
	color: #000;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-size: 40px;
}

.my-pod-heading h2 hr
{
	border-top-width: 7px;
	
	width: auto;
	border-top-width: 7px;
	border-top: 7px solid #0C2BD3; 
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%;
	/*top: 0px;
    right: 0px;
    left: 0px;*/
    margin: 0;
}

.my-pod-content
{
	margin: 50px 0px 100px 0px;
}

.my-pod-soul
{
	display: flex;
	flex-direction: column;
}

.my-podcast-soul
{
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 400px;*/
	margin: 20px 100px 0px 100px;
	padding:30px;
}
.my-podcast-ink
{
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 400px;*/
	margin: 20px 100px 0px 100px;
	padding:30px;
}


.soul
{ 
	height: 100%;
	width: 400px;
	cursor: pointer;
}

.my-pod-season h3
{
	font-size: 30px;
	margin-top: 0;
	background-color: #008FBE;
	color: #fff;
	padding: 10px;
}

.my-pod p
{
	font-size: 20px;
	/*margin-top: 5px;
	margin-bottom: 10px;*/
	/*margin: 50px 0px 10px 30px;*/
	
	padding: 30px;
	color: #fff;
}

.inkfeather
{
	height: 100%;
	width: 400px;
	border:3px solid blue;
	cursor: pointer;
}

.pod-p
{
	/*margin-top: -20px;*/
	background-image: linear-gradient(#0c71c3,#5F97F1);
	margin: 50px 0px 10px 30px;
	border-radius: 30px;
}

.pod-p p
{
	color: #fff;
	margin: 20px;
	font-size: 20px;
}

.pod-ep
{
	background-color: #fff;
	border-color: #fff;
	color: #0c71c3;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	padding: 0.3em 1em;
	margin: -10px 0px 10px 10px;
}

.pod-ep:hover
{
	background-color: #DEDDDD;
	border-color: #DEDDDD;
	color: #000;
	/*transform: scaleY(1.25);*/
	transition: all 300ms ease 0ms;
}

.pod-available
{
	margin-top: 20px;
}

.pod-available-heading
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pod-available-heading h2
{
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}

.pod-available-heading h2 hr
{
	/*s*/
	border-top-width: 7px;
	border-top-color:#08d0ff;
	/*border-top-color:#3bafda;*/
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%; 
	margin: 0;
}

.pod-available-links
{
	display: flex;
	justify-content: center;
	align-items: center;
	/*margin: 10px 10px 10px 50px;*/
	margin-bottom: 60px; 
}

.link-content
{
	/*display: flex;*/
	 margin: 5px 20px 10px 40px;
	/*justify-content: center;*/
}

.image-icon
{
	height: 7em;
	width: 7em;
}

/*********************SOUL'S TUNE*************************/

.soul-main
{
	margin-top: 150px;
}
.soul-logo
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.soul-logo h3
{
	font-size: 30px;
	margin-top: 0;
	background-color: #008FBE;
	color: #fff;
	padding: 10px;
}

.soul-logo img
{
	height: 500px;
	width: 500px;
	cursor: pointer;
}

.spotify
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	/*background-image: linear-gradient(#0c71c3,#5F97F1);*/

}

.spotify-link
{
	border:none;
}

.contact-heading
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-heading h2
{
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 500;
}

.contact-heading h2 hr
{
	/*s*/
	border-top-width: 7px;
	border-top-color:#08d0ff;
	/*border-top-color:#3bafda;*/
	border-top-right-radius: 50%; 
	border-top-left-radius: 50%; 
	margin: 0;
}

.contact-btn
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-btn button
{
	/*height: 4em;
	width: 6em;*/
	font-size: 2em;
	margin: 25px 0px 30px 0px;
	padding: 0.3em 1em;
	border-radius: 10px;
	cursor: pointer;
	background-color: #0c71c3;
	border-color: #0c71c3;
	color: #fff;
}

.contact-btn button:hover
{
	background-color: #DEDDDD;
	border-color: #DEDDDD;
	color: #000;
}

.email 
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #8D8C8C;
	margin-top: -40px;
}

/********************MEDIA QUERY***********************/

@media (max-width: 1384px)
{
	
	/*.head
	{
	height: 80px;
	width: 100%;
	justify-content: space-between;
	column-gap: 8%;
	top: 0px;
	background-color: rgba(10,10,10,0.99);
	position: fixed;
	box-shadow: none;
	z-index: 99999;
	}*/

	.left-head
	{
		width: 5%;
		margin: 0;
	}

	.head-logo
	{
		height: 40px;
		width: 140px;
	}

	.right-head
	{
		width: 1000px;
		/*justify-content: center;
		align-items: center;*/
		column-gap: 4%;
	}

}

@media (max-width: 1250px)
{
	.soul-logo img
	{
		height: 400px;
		width: 400px;
	}
	.spotify
	{
		width: 90%;
	}
	.spotify-link
	{
	/*border:none;*/
	height: 100%;
	width: 100%;
	margin-bottom: 50px;
	}
}

@media (max-width: 1203px)
{
	.right-head
	{
	width: 900px;
	/*justify-content: center;
	align-items: center;
	column-gap: 6%;*/
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
	font-size: 18px;
	}
	.podcast-cover
	{
		height:35em;
		width: 60%;
		/*margin-left: 400px;*/
		margin: 10px 10px 50px 20px;
	}
	.podcast-journey
	{
		padding: 50px;
		width: 40%;
		margin: 10px 40px 50px 0px;
		background-image: linear-gradient(#0c71c3,#5F97F1);
		color: #fff;
		border-radius: 30px;
	}
}

@media (max-width: 1094px)
{
	.head
	{
		height: 70px;
	}
	.right-head
	{
		width: 700px;
		/*justify-content: center;
		align-items: center;
		column-gap: 6%;*/
	}
	.poem-cover
	{
		height: 450px;
	}
	.pod-p
	{
		margin-top: -10px;
	}
}

@media (max-width: 983px)
{
	.my-podcast-soul
	{
		display: flex;
		flex-wrap: wrap;
	}
	.my-podcast-ink
	{
		display: flex;
		flex-wrap: wrap;
	}
	.pod-p
	{
		margin-top: 30px;
	}
	.my-podcast
	{
		margin-top: -50px;
	}
}

@media (max-width: 899px)
{
	.head-logo
	{
		/*height: 50px;
		width: 150px;
		margin-top: 20px;*/
		margin-left: 20px;
	}
	.right-head
	{
		width: 800px;
		/*justify-content: center;
		align-items: center;*/
		font-size: 15px;
		column-gap: 2%;
	}
	.podcast-journey-whole
	{
		display: flex;
		flex-wrap: wrap;
		margin-top: 100px;
		justify-content: center;
		align-items: center;
		/*margin-top: 200px;*/
		/*margin-left: 50px;*/
	}
	.podcast-cover
	{
		/*margin-left: 50px;*/
		width: 100%;
		height: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.podcast-cover-img
	{
		width: 60%;
	}
	.podcast-journey
	{
		width: 80%;
		margin-left: 20px;
		margin-top: -20px;
	}
}

@media (max-width: 856px)
{
	.head
	{
		height: 70px;
		column-gap: 10%;
	}
	.right-head
	{
		width: 900px;
		/*justify-content: center;
		align-items: center;*/
		column-gap: 2%;
		justify-content: flex-end;
		align-items: center;
		/*padding: 10px;*/
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 14px;
	}
	.poem-main
	{
		/*display: grid;
		grid-gap: 14em;
		grid-row-gap: 100px;*/
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
		/* grid-template-rows: 1fr;*/ 
		margin: 100px 180px 50px 150px;
		/*padding: 50px 50px 50px 50px;*/
	}
}

@media (max-width: 823px)
{
	.head
	{
		column-gap: 10%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 14px;
	}
	.right-head
	{
		width: 900px;
		/*justify-content: center;
		align-items: center;*/
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 2%;
		padding: 10px;
	}
	.poem-cover
	{
		height: 350px;
	}
}

@media (max-width: 687px)
{
	.head
	{
		height: 60px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 13px;
	}
	.left-head
	{
		/*display: flex;
		justify-content: center;
		align-items: center;*/
	}
	.head-logo
	{
	height: 30px;
	width: 100px;
	margin-left: 20px;
	margin-top: 20px;
	}
	.poem-cover
	{
		height: 300px;
	}
	.poem-main
	{
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
		margin: 100px 180px 50px 100px;
	}
	.pod-p 
	{
	/*color: #fff;*/
	margin:0px -10px 0px -10px;
	/*font-size: 20px;*/
	}
	.image-icon
	{
		height: 5em;
		width: 5em;
	}
	.soul-logo img
	{
	height: 300px;
	width: 300px;
	}
}

@media (max-width: 600px)
{
	.head
	{
		height: 60px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 11px;
	}
	
	.head-logo
	{
	height: 25px;
	width: 90px;
	margin-left: 10px;
	margin-top: 20px;
	}
	.poem-main
	{
		/*display: grid;
		grid-gap: 14em;
		grid-row-gap: 100px;*/
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
		/* grid-template-rows: 1fr;*/ 
		margin: 100px 180px 50px 50px;
		/*padding: 50px 50px 50px 50px;*/
	}
	.my-pod-heading h2
	{
		font-size: 30px;
	}
	.my-pod-content
	{
		margin-top: -10px;
	}
	.my-pod-season img
	{
		height: 100%;
		width: 100%;
	}
	.my-pod-season h3
	{
		height: 100%;
		width: 90%;
	}
	.my-podcast-soul
	{
		margin: 0px 50px 0px 50px;
	}
	.my-podcast-ink
	{
		margin: 0px 50px 0px 50px;
	}
}
@media (max-width: 518px)
{
	.image-icon
	{
		height: 4em;
		width: 4em;
	}
	.link-content
	{
	/*display: flex;*/
	 margin: 5px 10px 10px 20px;
	/*justify-content: center;*/
	}
}

@media (max-width: 518px)
{
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 10px;
	}
	.poem-main-card
	{
		height: 20em;
		width: 20em;
	}

	.poem-main-card img
	{
		height: 20em;
		width: 20em;
		margin-bottom: 0px;
		border-radius: 30px;
		cursor: pointer;
	}
	.poem-main
	{
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
		margin: 100px 180px 50px 70px;
	}
	.podcast-cover-img
	{
		width: 75%;
		height: 20%;
	}
	.podcast-journey
	{
		padding: 20px;
	}
	.podcast-journey h2
	{
		font-size: 20px;
	}
	.podcast-journey p
	{
		font-size: 17px;
	}
	.pod-p 
	{
	/*color: #fff;*/
	margin:0px -50px 0px -50px;
	/*font-size: 20px;*/
	}
}

@media (max-width: 500px)
{
	.head-logo
	{
		height: 20px;
		width: 80px;
		margin-left: 7px;
		margin-top: 23px;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 9px;
	}

	.blog-img
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 20px;
		margin-bottom: 20px;
		margin-right: 10px;
	}
	.heading
	{
		font-size:10px; 
	}
	.para p
	{
		font-size: 15px;
	}
	.poem-cover
	{
		height: 200px;
	}
	.poem-main
	{
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
		margin: 100px 180px 50px 30px;
	}
	.my-podcast-soul
	{
		margin: 0px 50px 0px 50px;
	}
	.contact-btn button
	{
		font-size: 1.5em;
	}
	.email
	{
		font-size: 20px;
	}
}

@media (max-width: 434px)
{
	.head
	{
		height: 40px;
	}
	.head-logo
	{
	height: 20px;
	width: 80px;
	margin-left: 7px;
	margin-top: 15px;
	}
	.right-head
	{
		column-gap: 1%;
	}
	.blog, .podcast,
	.poetry,
	.workshop,
	.public-speaking,
	.books,
	.my-story,
	.contacts
	{
		font-size: 7px;
	}
	.podcast-cover
	{
		margin-left: -20px;
	}
	.my-pod-heading h2
	{
		font-size: 25px;
	}
	.my-pod-season h3
	{
		font-size: 20px;
	}
	.my-podcast-soul
	{
		margin: 0px 50px 0px 50px;
	}
	.pod-p p
	{
		font-size: 15px;
	}
	.pod-ep
	{
	font-size: 15px;
	margin: -10px 0px 10px 10px;
	}
	.soul-logo img
	{
		height: 200px;
		width: 200px;
	}
}

@media (max-width: 377px)
{
	.contact-btn button
	{
		font-size: 1.5em;
	}
	.email
	{
		font-size: 15px;
	}
}

@media (max-width: 367px)
{
	.head-logo
	{
	/*height: 20px;*/
	width: 65px;
	/*margin-left: 7px;
	margin-top: 15px;*/
	}
	.podcast-cover
	{
		margin-left: -20px;
	}
	.podcast-cover-img
	{
		width: 60%;
		height: 25%;
	}
	.podcast-journey h2
	{
		font-size: 15px;
	}
	.pod-available-heading h2
	{
		font-size: 20px;
	}
	.podcast-journey p
	{
		font-size: 12px;
	}
	.image-icon
	{
		height: 3.5em;
		width: 3.5em;
	}
	.link-content
	{
	/*display: flex;*/
	 margin: 5px 10px 10px 10px;
	/*justify-content: center;*/
	}
}

@media (max-width: 347px)
{
	.head-logo
	{
		/*display: none;*/
		width: 50px;
	}
	.right-head
	{
		column-gap: 0;
	}
}
